.founders {
  grid-column: col-start 6 / center-end;
  background-color: $color-primary;
  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }
}
.founder-box {
  padding: 3rem 6rem;
  display: grid;
  grid-template-columns: min-content max-content;
  gap: 1.5rem;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(3, min-content max-content);
    gap: 5rem;
  }

  &__img {
    width: 6.5rem;
    height: auto;
    border-radius: 50%;
    place-self: center;
  }
  &__text {
    color: #fff;
    place-self: center;

    &-1 {
      font-size: 1.5rem;
      font-weight: 600;
      display: block;
    }
    &-2 {
      font-size: $default;
    }
  }
}
